<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>570356934496-5kd1uetlt7cqreneabsjfljoq2kb7up4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570356934496-5kd1uetlt7cqreneabsjfljoq2kb7up4</string>
	<key>API_KEY</key>
	<string>AIzaSyDctk9BAVtelHKz4p44Ov_4T6uiN5X_DxA</string>
	<key>GCM_SENDER_ID</key>
	<string>570356934496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ios</string>
	<key>PROJECT_ID</key>
	<string>builditday</string>
	<key>STORAGE_BUCKET</key>
	<string>builditday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570356934496:ios:dcc52119c4672edd</string>
	<key>DATABASE_URL</key>
	<string>https://builditday.firebaseio.com</string>
</dict>
</plist>